.navbar {
  height: 50px;
 
  color: white !important;
 
}
.navbar-text {
  color: white !important;
}
.navbar-brand {
  color: white !important;
}
.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 600;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
}
